<!-- Generated template for the ContentInfoComponent component -->
<ion-header class="sb-header hide-in-page">
  <!-- Generated template for the AppHeaderComponent component -->
  <!-- <ion-header> -->
  <ion-navbar class="sb-header-toolbar">
    <ion-title>Content Info card</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content> -->
  <content-player></content-player>
  <breadcrumbs></breadcrumbs>
  <detail-card class="sb-detail-card-info"></detail-card>
  <info></info>

  
<!-- </ion-content> -->