<!-- Generated template for the ContentInfoComponent component -->
<ion-header class="sb-header hide-in-page">
  <!-- Generated template for the AppHeaderComponent component -->
  <!-- <ion-header> -->
  <ion-navbar class="sb-header-toolbar">
    <ion-title>Content Info card</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content> -->
<div class="hide-in-page" style="margin-top:56px;"></div>
<div style="overflow-y: auto;height: 100%;padding-bottom: 60px;">


  <content-player></content-player>
  <breadcrumbs></breadcrumbs>

  <div style="padding:8px;"> 
      <detail-card class="sb-detail-card-info"></detail-card>
     
  </div>

  <info></info>
  




</div>
<!-- </ion-content> -->