<!-- Generated template for the ContentInfoComponent component -->
<ion-header class="sb-header">
  <!-- Generated template for the AppHeaderComponent component -->
  <!-- <ion-header> -->
  <ion-navbar class="sb-header-toolbar">
    <ion-title>Content Info card</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <div class="img-container">
    <div class="sb-btn-tile-group">
        <button ion-button clear icon-only class="sb-btn-tile">
          <ion-icon ios="ios-cloud-download" md="md-cloud-download" class="sb-dt-card-white-icon"></ion-icon>
        </button>
        <div class="sb-btn-footer-text">Please download to play</div> 
    </div>
 </div>

<div class="breadcrumb-container">
    <ul class="steps steps-5">
        <li><a href="#" title=""><span>Unit 1.0</span></a></li>

        <li><a href="#" title=""><span>Unit 2.0</span></a></li>

        <li><a href="#" title=""><span>Et nequ a quam turpis duisi</span></a></li>

        <li><a href="#" title=""><span>Et nequ a quam turpis duisi</span></a></li>

        <li><a href="#" title=""><span>Et nequ a quam turpis duisi</span></a></li>

        <li><a href="#" title=""><span>Et nequ a quam turpis duisi</span></a></li>
         </ul>
        </div>
  
  <detail-card class="detail-card-info"></detail-card>
      

  <div class="sb-recently-viewed-container">

    <div class="sb-recently-viewed-items">
      <div class="sb-recenlty-viewed-title">About</div>

          <ion-card class="sb-content-info-card">
              <div class="sb-content-info-heading">Great thinkers and their new religions and Some Text about the Design</div>
                  <div class="sb-info"> 
                    <div class="sb-content-title">Board</div>
                  <div class="sb-content-title-data">State(Tamilnadu)</div>
                  </div>
                 <div class="sb-info">
                    <div class="sb-content-title">Medium</div>
                    <div class="sb-content-title-data">English</div>
                 </div>
                 <div class="sb-info">
                    <div class="sb-content-title">Class</div>
                    <div class="sb-content-title-data">Class6</div>
                 </div>
                 <div class="sb-info">
                    <div class="sb-content-title">Subject</div>
                    <div class="sb-content-title-data">Biology</div>
                 </div>
                 <div class="sb-info">
                    <div class="sb-content-title">License</div>
                    <div class="sb-content-title-data">MIT CCBY</div>
                 </div>
                 <div class="sb-info">
                    <div class="sb-content-title">Creators</div>
                    <div class="sb-content-title-data">State(Tamilnadu)</div>
                 </div>
                 <div class="sb-info">
                    <div class="sb-content-title">Contributors</div>
                    <div class="sb-content-title-data">MIT CCBY</div>
                 </div>
                 <div class="sb-info">
                    <div class="sb-content-title">Acknowledgment</div>
                    <div class="sb-content-title-data">MIT CCBY</div>
                 </div>
       
         </ion-card>
    </div>
  </div>
</ion-content>