<ion-header class="sb-header">
  <ion-navbar class="sb-header-toolbar">
    <ion-title>Recently Viewed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4 style="border-bottom: 5px solid #333; padding-bottom: 5px;">Click on buttons to view popups</h4>
  <h5>Reusable single popover</h5>
  <div class="d-flex flex-w-wrap">

    <button ion-button class="sb-btn sb-btn-normal sb-btn-info" (click)="openPopupInfo()">SB Popover-info</button>
    <button ion-button class="sb-btn sb-btn-normal sb-btn-error" (click)="openPopupDanger()">SB Popover-danger</button>
    <button ion-button class="sb-btn sb-btn-normal sb-btn-warning" (click)="openPopupWarning()">SB
      Popover-warning</button>
    <button ion-button class="sb-btn sb-btn-normal sb-btn-warning" (click)="openNoInternetPopup()">No internet (No
      Buttons)</button>
    <button ion-button class="sb-btn sb-btn-normal sb-btn-warning" (click)="openNoBnadWidthPopup()">Low band width (
      with 2 buttons)</button>
      
  </div>

  <h5>Download popup</h5>
  <div class="d-flex flex-w-wrap">
      <button ion-button class="sb-btn sb-btn-normal sb-btn-info" (click)="openDownloadPopup()">SB download popup</button>
  </div>

</ion-content>