<!-- Generated template for the InfoComponent component -->
<div class="sb-content-info-container">

  <div class="sb-content-info-items">
    <div class="sb-content-info-title">About</div>

        <ion-card class="sb-content-info-card">
            <div class="sb-content-info-heading">Great thinkers and their new religions and Some Text about the Design</div>
                <div class="sb-info"> 
                  <div class="sb-content-title">Board</div>
                <div class="sb-content-title-data">State(Tamilnadu)</div>
                </div>
               <div class="sb-info">
                  <div class="sb-content-title">Medium</div>
                  <div class="sb-content-title-data">English</div>
               </div>
               <div class="sb-info">
                  <div class="sb-content-title">Class</div>
                  <div class="sb-content-title-data">Class6</div>
               </div>
               <div class="sb-info">
                  <div class="sb-content-title">Subject</div>
                  <div class="sb-content-title-data">Biology</div>
               </div>
               <div class="sb-info">
                  <div class="sb-content-title">License</div>
                  <div class="sb-content-title-data">MIT CCBY</div>
               </div>
               <div class="sb-info">
                  <div class="sb-content-title">Creators</div>
                  <div class="sb-content-title-data">State(Tamilnadu)</div>
               </div>
               <div class="sb-info">
                  <div class="sb-content-title">Contributors</div>
                  <div class="sb-content-title-data">MIT CCBY</div>
               </div>
               <div class="sb-info">
                  <div class="sb-content-title">Acknowledgment</div>
                  <div class="sb-content-title-data">MIT CCBY</div>
               </div>
     
       </ion-card>
  </div>
</div>
