sb-download-popup {
    
}

.sb-popover-download .sb-popover-header .sb-modal-close{
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    text-transform: capitalize;
    top: -16px;
    right: 0;
}

