<ion-header class="sb-popover-header">
    <ion-toolbar class="sb-popover-toolbar">
      <ion-title class="sb-popover-title">Downloading
        <button ion-button clear class="sb-modal-close" (click)="closePopover()">Hide</button>
      </ion-title>
    </ion-toolbar>
    <div style="height: 4px;
  background-color:#000;
  position: relative;">
  <div style="position:absolute; background:#D8D8D8; left:20%; right:0; top:0; bottom:0">

  </div>
  </div>
  </ion-header>

  
  
  <ion-content no-padding class="sb-popover-container">
      <div class="sb-popover-items">  
          <div class="sb-popover-content-details">
            <div class="main-title">
                Great Thinkers and their new religions
              <div class="meta-info">
                  15 MB / 20 MB
              </div>
            </div>
            <!-- <div class="sb-popover-content">
              {{sbPopoverContent}}
            </div> -->
          </div>
      </div>
  </ion-content>
  
  <ion-footer>
    <div class="sb-popover-footer">
      <button ion-button class="sb-popover-action-btn sb-btn sb-btn-normal sb-btn-info" >Cancel</button>
    </div>
  </ion-footer>