<ion-header class="sb-header hide-in-page">
    <!-- Generated template for the AppHeaderComponent component -->
    <!-- <ion-header> -->
    <ion-navbar class="sb-header-toolbar">
      <ion-title>Medium Filter</ion-title>
    </ion-navbar>
  </ion-header>
  

  <div style="margin-top:56px;" class="hide-in-page"></div>

<div class="sb-slider-pills-container">
  <div class="sb-pills-container sb-medium-pills-container">
      <div class="pill active">English medium</div>
      <div class="pill">English medium</div>
      <div class="pill">English medium</div>
      <div class="pill">English medium</div>
      <div class="pill">English medium</div>
      <div class="pill">English medium</div>
      <div class="pill">English medium</div>
      <div class="pill">English medium</div>
  </div>
</div>

  <div class="code-block hide-in-page">
  <br><br>
    <pre >
      {{this.code}}
    </pre>
  </div>