<!-- <app-header [pageName]="'Medium Filter'"></app-header> -->
<ion-header>
    <app-header [pageName]="'Medium Filter'"></app-header>
</ion-header>


<ion-content no-padding>
  <div class="sb-slider-pills-container sb-medium-pills-container">
      <div class="pill active">English medium</div>
      <div class="pill">English medium</div>
      <div class="pill">English medium</div>
      <div class="pill">English medium</div>
      <div class="pill">English medium</div>
      <div class="pill">English medium</div>
      <div class="pill">English medium</div>
      <div class="pill">English medium</div>
  </div>

  <div>
    <pre>
      {{this.code}}
    </pre>
  </div>
</ion-content>
