<ion-header class="sb-header">
  <!-- Generated template for the AppHeaderComponent component -->
  <!-- <ion-header> -->
  <ion-navbar class="sb-header-toolbar">
    <ion-title>Recently Viewed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div style="display: inline-grid;grid-gap: 15px;">

      <!-- Buttons with background color -->
      <button ion-button class="sb-btn sb-btn-normal sb-btn-primary">Primary Buttom </button>
      <button ion-button class="sb-btn sb-btn-normal sb-btn-secondary">Secondary Button</button>
      <button ion-button class="sb-btn sb-btn-normal sb-btn-tertiary"> Tertiary Button</button>
      <button ion-button class="sb-btn sb-btn-normal sb-btn-info"> Info Button</button>
      <button ion-button class="sb-btn sb-btn-normal sb-btn-warning"> Warning Button</button>
      <button ion-button class="sb-btn sb-btn-normal sb-btn-error"> Error Button</button>
    
      <!-- Button with outline and background white -->
      <button ion-button class="sb-btn sb-btn-sm  sb-btn-outline-info">Info </button>
      <button ion-button class="sb-btn sb-btn-sm  sb-btn-outline-warning">Warning</button>
      <button ion-button class="sb-btn sb-btn-sm  sb-btn-outline-success"> Success</button>
      <button ion-button class="sb-btn sb-btn-sm  sb-btn-outline-error"> Error</button>
  </div>
</ion-content>