<!-- Generated template for the OfflineComponent component -->

<ion-row #someVar class="sb-offline-msg" id="#sb-offline-msg">
    <ion-col col-1 class="offline-icon">
          <ion-icon item-right name="notifications-off"></ion-icon>
    </ion-col>
    <ion-col col-9>
      <div class="sb-offline-text">
        You are Offline 
      </div>
    </ion-col>
    <ion-col col-2>
        <button class="close-button" ion-button icon-only clear (click)="removeComponent()">
          <ion-icon item-right name="close"></ion-icon>
        </button>
    </ion-col>
  </ion-row>
  
