<ion-header>
  <app-header [pageName]="'Medium Filter'"></app-header>
</ion-header>

<ion-content no-padding class="has-header ">
  <!-- <div class="horizontal-scroll PTB10 PLR16px">
    <button ion-button class="class-pill active">Class 5</button>
    <button ion-button class="class-pill">Class 6</button>
    <button ion-button class="class-pill">Class 7</button>
    <button ion-button class="class-pill">Class 8</button>
    <button ion-button class="class-pill">Class 8</button>
    <button ion-button class="class-pill">Class 8</button>
    <button ion-button class="class-pill">Class 8</button>
    <button ion-button class="class-pill">Class 8</button>
    <button ion-button class="class-pill">Class 8</button>
  </div> -->

  <div class="sb-slider-pills-container sb-grade-pills-container">
      <div class="pill active">Class 5</div>
      <div class="pill">Class 6</div>
      <div class="pill">Class 7</div>
      <div class="pill">Class 8</div>
      <div class="pill">Class 8</div>
      <div class="pill">Class 8</div>
      <div class="pill">ClassLong 8</div>
  </div>
</ion-content>