<ion-header class="sb-header">
    <!-- Generated template for the AppHeaderComponent component -->
    <!-- <ion-header> -->
    <ion-navbar class="sb-header-toolbar">
      <ion-title>Grade Filter</ion-title>
    </ion-navbar>
  </ion-header>
  

<ion-content no-padding>
  <div class="sb-slider-pills-container">
  <div class="sb-pills-container sb-grade-pills-container">
      <div class="pill active">Class 5</div>
      <div class="pill">Class 6</div>
      <div class="pill">Class 7</div>
      <div class="pill">Class 8</div>
      <div class="pill">Class 8</div>
      <div class="pill">Class 8</div>
      <div class="pill">ClassLong 8</div>
  </div>
</div>
</ion-content>