
    

.sb-view-all-container {
    width: 100%;
    .sb-view-all-items{
        background-color: #024f9d;
        height: ($base-block-space * 10);
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        @include padding(0, ($base-block-space * 1));
        .sb-view-all-title{
            color: $white-color;
            .page-heading{
                font-size: 16px;
                font-weight: bold;
                line-height: 22px;
            }
        
            .page-info{
                display: block;
                font-size: 12px;
                line-height: 15px;
            }
        }
          .sb-card-scroll-container{
          overflow-x: auto;
        }
    }
}

