<!-- Generated template for the RecentlyViewedComponent component -->
<ion-header class="sb-header">
  <!-- Generated template for the AppHeaderComponent component -->
  <!-- <ion-header> -->
  <ion-navbar class="sb-header-toolbar">
    <ion-title>Recently Viewed - view all</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <div class="sb-view-all-container">

    <div class="sb-view-all-items">
      <div class="sb-view-all-title">
        <span class="page-heading">Recently Viewed</span>
        <span class="page-info">Showing 10 items</span>
      </div>
    </div>

  </div>
  <div class="sb-view-all-container">
    <div class="sb-card-container sb-card-view-all-container">
      <div class="sb-card ">
        <div class="img-container"></div>
        <div class="sb-card-details">
          <div class="title">Great thinkers and their new religions</div>
          <div class="info"><span class=" class">Class6</span><span class="separator-dot"></span><span
              class=" subject">Social
              Science</span>
          </div>
          <div class="sb-card-actions">
            <button ion-button class="action-btn float-end delete">
              <ion-icon ios="ios-trash" md="md-trash" class="MR5"></ion-icon>
              Delete
            </button>
            <button ion-button class="action-btn float-end ">
              <ion-icon ios="ios-refresh-circle" md="md-refresh-circle" class="MR5"></ion-icon>
              update
            </button>
          </div>
        </div>
      </div>

      <div class="sb-card ">
          <div class="img-container"></div>
          <div class="sb-card-details">
            <div class="title">Great thinkers and their new religions</div>
            <div class="info"><span class=" class">Class6</span><span class="separator-dot"></span><span
                class=" subject">Social
                Science</span>
            </div>
            <div class="sb-card-actions">
              <button ion-button class="action-btn float-end download">
                <ion-icon ios="ios-refresh-circle" md="md-refresh-circle" class="MR5"></ion-icon>
                Download
              </button>
            </div>
          </div>
        </div>

        <div class="sb-card offline">
          <div class="img-container"></div>
          <div class="sb-card-details">
            <div class="title">Great thinkers and their new religions</div>
            <div class="info"><span class=" class">Class6</span><span class="separator-dot"></span><span
                class=" subject">Social
                Science</span>
            </div>
            <div class="sb-card-actions">
              <button ion-button class="action-btn float-end delete">
                <ion-icon ios="ios-trash" md="md-trash" class="MR5"></ion-icon>
                Delete
              </button>
              <button ion-button class="action-btn float-end ">
                <ion-icon ios="ios-refresh-circle" md="md-refresh-circle" class="MR5"></ion-icon>
                Update
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</ion-content>