<!-- Generated template for the RecentlyViewedComponent component -->
<ion-header class="sb-header">
  <!-- Generated template for the AppHeaderComponent component -->
  <!-- <ion-header> -->
  <ion-navbar class="sb-header-toolbar">
    <ion-title>Recently Viewed - view all</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <div class="sb-recently-viewed-container">

    <div class="sb-recently-viewed-items">
      <div class="sb-recenlty-viewed-title">
        Recently Viewed
        <p>Showing 10 items</p>
      </div>


    </div>

  </div>
  <div class="sb-view-all-container">
      <div class="sb-card-container sb-card-view-all-container">
        <div class="sb-card ">
          <div class="img-container"></div>
          <div class="sb-card-details">
            <div class="title">Great thinkers and their new religions</div>
            <div><span class="info class">Class6</span><span class="separator-dot"></span><span class="info subject">Social
                Science</span></div>
            <div>
                <button ion-button class="sb-btn sb-btn-sm sb-btn-default" float-end> View all</button>
                <button ion-button class="sb-btn sb-btn-sm sb-btn-default" float-end> View all</button>
            </div>
          </div>
        </div>

        <div class="sb-card">
          <div class="img-container"></div>
          <div class="sb-card-details">
            <div class="title">Great thinkers and their new religions</div>
            <div><span class="info class">Class6</span><span class="separator-dot"></span><span class="info subject">Social
                Science</span></div>

          </div>
        </div>

        <div class="sb-card offline">
          <div class="img-container">
            <ion-icon ios="ios-notifications-off" md="md-notifications-off" class="white"></ion-icon>
          </div>
          <div class="sb-card-details">
            <div class="title">Great thinkers and their new religions</div>
            <div><span class="info class">Class6</span><span class="separator-dot"></span><span class="info subject">Social
                Science</span></div>
          </div>
        </div>
      </div>
    </div>
</ion-content>