.sb-view-all-container {
    margin-top: ($base-block-space * 2);
    @include padding(($base-block-space * 1));
    width: 100%;
    &:last-child{
        margin-bottom: ($base-block-space * 2);
    }

    .sb-textbook-items {
        .sb-textbook-title-container{
            height: ($base-block-space * 3);
            @include margin(null, null, ($base-block-space * 2), null);

            .textbook-icon {
                height: 17px;	
                transform: scaleX(-1);
                @include margin(0, ($base-block-space * 1), 0, 0);
                color: $tertiary-color;
            }
            .textbook-title {
                height: ($base-block-space * 3);	
                color: #024F9D;	
                font-size: 18px;	
                font-weight: bold;
                text-transform: capitalize;
                line-height: ($base-block-space * 3)
            }
        }
    }
}