
// base structure
@import "../assets/styles/mixins/mixins";
@import "../assets/styles/base/base";
@import "../assets/styles/component/component";
@import "../assets/styles/layout/layout";
@import "../assets/styles/pages/pages";


ion-app.md, ion-app.ios {
  font-family: $font-stack-en;
}
.separator-dot{
  width: 4px;
  height: 4px;
  background-color: #d8d8d8;
  border-radius:50%;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 8px;
  font-size: 12px;
}

ion-app.md [padding] .scroll-content {
  padding: 8px;
}