<ion-header class="sb-header">
  <!-- Generated template for the AppHeaderComponent component -->
  <!-- <ion-header> -->
  <ion-navbar class="sb-header-toolbar">
    <ion-title>Recently Viewed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="sb-textbook-container">
    <div class="sb-textbook-items">
      <div class="sb-textbook-title-container">
        <span class="textbook-icon">
          <ion-icon ios="ios-albums" md="md-albums"></ion-icon>
        </span>
        <span class="textbook-title">
          Social Science
        </span>
      </div>
      <!-- Card style -->
      <div class="sb-card-container sb-card-textbook-container">
        <div class="sb-card ">
          <div class="img-container"></div>
          <div class="sb-card-details">
            <div class="title">Great thinkers and their new religions</div>
            <div><span class="info class">Class6</span><span class="separator-dot"></span><span class="info subject">Social
                Science</span></div>
          </div>
        </div>

        <div class="sb-card">
          <div class="img-container"></div>
          <div class="sb-card-details">
            <div class="title">Great thinkers and their new religions</div>
            <div><span class="info class">Class6</span><span class="separator-dot"></span><span class="info subject">Social
                Science</span></div>
          </div>
        </div>

        <div class="sb-card offline">
          <div class="img-container">
            <ion-icon ios="ios-notifications-off" md="md-notifications-off" class="white"></ion-icon>
          </div>
          <div class="sb-card-details">
            <div class="title">Great thinkers and their new religions</div>
            <div><span class="info class">Class6</span><span class="separator-dot"></span><span class="info subject">Social
                Science</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sb-textbook-container">
      <div class="sb-textbook-items">
        <div class="sb-textbook-title-container">
          <span class="textbook-icon">
            <ion-icon ios="ios-albums" md="md-albums"></ion-icon>
          </span>
          <span class="textbook-title">
            Social Science
          </span>
        </div>
        <!-- Card style -->
        <div class="sb-card-container sb-card-textbook-container">
          <div class="sb-card ">
            <div class="img-container"></div>
            <div class="sb-card-details">
              <div class="title">Great thinkers and their new religions</div>
              <div><span class="info class">Class6</span><span class="separator-dot"></span><span class="info subject">Social
                  Science</span></div>
            </div>
          </div>
  
          <div class="sb-card">
            <div class="img-container"></div>
            <div class="sb-card-details">
              <div class="title">Great thinkers and their new religions</div>
              <div><span class="info class">Class6</span><span class="separator-dot"></span><span class="info subject">Social
                  Science</span></div>
            </div>
          </div>
  
          <div class="sb-card offline">
            <div class="img-container">
              <ion-icon ios="ios-notifications-off" md="md-notifications-off" class="white"></ion-icon>
            </div>
            <div class="sb-card-details">
              <div class="title">Great thinkers and their new religions</div>
              <div><span class="info class">Class6</span><span class="separator-dot"></span><span class="info subject">Social
                  Science</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>