content-player {

}
.sb-player-container {
    background-color: black;
    max-width:100%;
    height: ($base-block-space * 25);
    overflow:hidden;
    position: relative;
    .sb-arrow-back
    {
      @include padding($base-block-space * 0.5);
      color: $blue;
    }
    .sb-circle
    {
      position: absolute;
      top: 16px;
      left: 16px;
      height:($base-block-space * 3);
      width:24px;
      background-color: #fff;
      border-radius: 50%
    }
    .sb-common-player-group{
      position: absolute;
      left: 0;
      right: 0;
      top: 30%;
      text-align: center;
      .sb-play-title-group{
        top: 50%;
      }
      .sb-common-title{
        .sb-common-white-icon{
          font-size: (($font-size-base * 3) - 2) ;
          color: #ffffff;
        } 
      }
      .sb-offline-title {
       @include padding ($base-block-space);
        .sb-offline-white-icon{
          font-size :  (($font-size-base * 2) - 4);
          color: #ffffff;
        } 
      }  
      .sb-common-footer-text {
        color : #ffffff;
        font-weight: 500;
        font-size: ($font-size-base  - 2);
        text-align: center;
        text-transform: initial;
      }  
      .sb-common-footer-text.sb-sub-footer{
         font-size:($font-size-base  - 4);
      }  
    }
    .sb-online-message
    {
      top: 90%;
      position: relative;
      background-color: #00BA75;
      height: ($base-block-space * 3);
      color: white;
      text-align: center;
      font-size: ($font-size-base  - 2);   
    }
  }