<!-- Generated template for the ContentPlayerComponent component -->
<div class="sb-play-container sb-player-container">
  <img class = "sb-player-container" src="https://ntpstagingall.blob.core.windows.net/ntp-content-staging/content/do_21265402834026496011086/artifact/images-3_1541139404293.thumb.jpg">
   <div class="sb-overlay-container">
    <div class="sb-circle"> 
       <ion-icon name="arrow-back" class="sb-arrow-back"></ion-icon>
    </div>
     <div class="sb-common-player-group sb-play-title-group">
         <button ion-button clear icon-only class="sb-common-title">
           <ion-icon ios="ios-play" md="md-play" class="sb-common-white-icon"></ion-icon>
         </button>
     </div>
     <div class="sb-online-message">You are online now</div>
    </div>
</div>
<div class="sb-download-container sb-player-container" padding>
<div class="sb-circle"> 
  <ion-icon name="arrow-back" class="sb-arrow-back"></ion-icon>
</div>
<div class="sb-common-player-group sb-common-title-group">
    <button ion-button clear icon-only class="sb-common-title">
      <ion-icon ios="ios-cloud-download" md="md-cloud-download" class="sb-common-white-icon"></ion-icon>
    </button>
    <div class="sb-common-footer-text">Please download to play</div> 
</div>
</div>
<div class="sb-player-container sb-offline-container">
<div class="sb-circle"> 
   <ion-icon name="arrow-back" class="sb-arrow-back"></ion-icon>
</div>
 <div class="sb-common-player-group sb-common-title-group">
     <div class="sb-offline-title">
       <ion-icon ios="ios-notifications-off" md="md-notifications-off" class="sb-offline-white-icon"></ion-icon>
     </div>
     <div class="sb-common-footer-text">You are not connected to the internet</div> 
     <div class="sb-common-footer-text sb-sub-footer">Only downloaded content can be played offline</div>
 </div>
</div>
