search {

}

.sb-card-container .sb-search-card .sb-card{
    padding: 8px 16px;
}
.sb-view-all-items.sb-search-items
{
    padding: 0px;
    background-color: transparent;
}


.sb-card-result.sb-card-details
{
  @include padding($base-block-space * 2);
  .sb-card-res-count{
        color: #979797;
        font-size: ($font-size-base  - 2);
        line-height: 15px;
  }
 .sb-card-result-content{
        color: #979797;
        font-size: ($font-size-base  + 2);
        font-weight: 500;
        line-height: 22px;
 }
}
.sb-separator-line{
    margin: 0px;
}