search {

}

.sb-card-container .sb-search-card .sb-card{
    @include padding($base-block-space,($base-block-space * 2));
}
.sb-view-all-items.sb-search-items
{
    @include padding(0);
    background-color: transparent;
    border-bottom: 0.5px solid rgba(94, 94, 94, 0.75)
}
.sb-view-all-items.sb-search-items{
    .sb-card-result.sb-card-details
    {
      @include padding($base-block-space * 2);
      .sb-card-res-count{
            color: #979797;
            font-size: ($font-size-base  - 2);
            line-height: 15px;
      }
     .sb-card-result-content{
            color: #979797;
            font-size: ($font-size-base  + 2);
            font-weight: 500;
            line-height: 22px;
     }
    }
}
.sb-card-view-all-container.sb-search-card .sb-card .sb-card-details {
    justify-content: center;
}