search {

}
.sb-card-view-all-container .sb-card{
    grid-template-columns: auto 80px;
}

.sb-card-result.sb-card-details
{
//   padding: 16px;
  @include padding($base-block-space * 2);
  .sb-card-res-count{
        color: #979797;
        font-size: ($font-size-base  - 2);
        line-height: 15px;
  }
 .sb-card-result-content{
        color: #979797;
        font-size: ($font-size-base  + 2);
        font-weight: 500;
        line-height: 22px;
 }
}
.sb-separator-line{
    margin: 0px;
}