
 .sb-recently-viewed-container {

  .sb-recently-viewed-items{
    background-color: #024f9d;
    height: 88px;
    width: 100%;
    position: relative;
    padding: 16px 0px 16px 0px;
    .sb-recenlty-viewed-title {
      font-size: 16px;
      color: #ffffff;
      font-family: "Noto Sans";	
      line-height: 22px;
      overflow: auto;
      margin-bottom: 8px;
    padding: 0px 8px 0px 8px;
      button{
      }
    }
      .sb-card-scroll-container{
      overflow-x: auto;
    }
  }
}

