<!-- Generated template for the RecentlyViewedComponent component -->
<ion-header>
  <app-header [pageName]="'Medium Filter'"></app-header>
</ion-header>

<ion-content no-padding>
  <div>
    <div class="section-floating P15 PT10">
      <div class="heading">Recently Viewed
        <button ion-button class="btn rounded" float-end> View all</button>
      </div>
      <div class="card-container">
        <div class="card grid">
          <div class="left">
            <div class="img-container">
              <img src="">
            </div>
          </div>
          <div class="right">
            <div>
              <div class="title"> Great thinkers and their new religions
              </div>
            </div>
            <div>
              <span class="info">Class6</span>
              <span class="separator-dot"></span>
              <span class="info">Social Science</span>
            </div>

          </div>
        </div>
        <div class="card grid offline">
            <div class="left">
              <div class="img-container ">
                <ion-icon ios="ios-notifications-off" md="md-notifications-off" class="white"></ion-icon>
              </div>
            </div>
            <div class="right">
              <div>
                <div class="title"> Great thinkers and their new religions
                </div>
              </div>
              <div>
                <span class="info">Class6</span>
                <span class="separator-dot"></span>
                <span class="info">Social Science</span>
              </div>
    
            </div>
          </div>
        <div class="card">
          <div class="left">
            <div class="img-container">
              <img src="">
            </div>
          </div>
          <div class="right">
            <div>
              <div class="title"> Great thinkers and their new religions</div>
            </div>
            <div>
              <span class="info">Class6</span>
              <span class="separator-dot"></span>
              <span class="info">Social Science</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section-floating P15 PT10" style="margin-top: 200px">
    <div class="heading">Recently Viewed
      <button ion-button class="btn rounded" float-end> View all</button>
    </div>
    <div class="card-container">
      <div class="card grid offline">
        <div class="left">
          <div class="img-container ">
            <ion-icon ios="ios-notifications-off" md="md-notifications-off" class="white"></ion-icon>
          </div>
        </div>
        <div class="right">
          <div>
            <div class="title"> Testing some really really long text Great thinkers and their new religions Great thinkers and their new religions
            </div>
          </div>
          <div>
            <span class="info">Class6</span>
            <span class="separator-dot"></span>
            <span class="info">Social Science</span>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="left">
          <div class="img-container">
            <img src="">
          </div>
        </div>
        <div class="right">
          <div>
            <div class="title"> Great thinkers and their new religions </div>
          </div>
          <div>
            <span class="info">Class6</span>
            <span class="separator-dot"></span>
            <span class="info">Social Science</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>