
 .sb-recently-viewed-container {

  .sb-recently-viewed-items{
    background-color: #024f9d;
    height: ($base-block-space * 11);
    width: 100%;
    position: relative;
    @include padding(($base-block-space * 1), 0);
    .sb-recenlty-viewed-title {
      font-size: 16px;
      color: #ffffff;
      font-family: "Noto Sans";	
      line-height: 22px;
      overflow: auto;
      margin-bottom: ($base-block-space * 1);
    @include padding(0, ($base-block-space * 1));

    }
      .sb-card-scroll-container{
      overflow-x: auto;
      padding: 0 0 8px 0;
    }
  }
}

