      <div class="breadcrumb-container">
          <div class="step-indicator">
              <a class="step completed" href="#">Unit - 1.1 </a>
              <a class="step completed" href="#">Unit - 1.2 </a>
              <a class="step completed" href="#">Unit - 1.3 </a>
              <a class="step completed" href="#">Unit - 1.4 </a>
              <a class="step completed" href="#">Great Thinkes and Some Long Text </a>
              <a class="step" href="#">Great Thinker and some long text to check breadcrumbs</a>
            </div>
     </div>
 

