<!-- Generated template for the BreadcrumbsComponent component -->
      <div class="breadcrumb-container">
          <div class="step-indicator">
              <a class="step completed" href="#">Unit - 1.1 </a>
              <a class="step completed" href="#">Unit - 1.2 </a>
              <a class="step completed" href="#">Unit - 1.3 </a>
              <a class="step completed" href="#">Unit - 1.4 </a>
              <a class="step completed" href="#">Unit - 1.5 </a>
              <a class="step completed" href="#">Great Thinker and Their Religion </a>
              <a class="step completed" href="#">Unit - 1.6 </a>
              <a class="step completed" href="#">Great Thinker </a>
              <a class="step completed" href="#">Great Religion</a>
              <a class="step completed" href="#">Step Four</a>
              <a class="step " href="#">Step three</a>
            </div>
     </div>
 

