// sunbird slider pills global styles

.sb-slider-pills-container {
    display: flex;
    overflow-x: auto;
}

.sb-medium-pills-container {
    background:#fff;
    align-items: center;
    min-height: 80px;
    padding:16px 8px;
    .pill {
        border-radius: 2px;	
        background-color: #FFFFFF;
        white-space: nowrap; 
        -webkit-appearance: none;
        text-overflow: ellipsis;
        padding:8px 8px;
        min-height: 32px;
        margin-right:8px;
        border: #008840 1px solid;
        color:#008840;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        box-sizing: border-box;
        font-size: 14px;

        &:hover {
            color: #fff;
        background-color: #008840;
        }
        &.active {
            color:#fff;
        background-color: #008840;
        box-shadow: 0 0 4px 0 rgba(21,18,18,0.24), 0 2px 4px 0 rgba(0,0,0,0.12);
        }
    }
}

.sb-grade-pills-container {
    padding: 16px 8px;
    min-height: 46px;
    background-color: #F0F0F0;
    
    .pill{
        border-radius: 15px;
        background-color: #ffffff;
        -webkit-appearance: none;
        white-space: nowrap; 
        padding: 8px 16px;
        margin-right: 8px;
        box-shadow: 0 3px 4px 0 rgba(0,0,0,0.19);
        color: #024f9d;
        font-size: 14px;
        letter-spacing: -0.47px;	
        line-height: 17px;	
        text-align: center;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        text-transform: capitalize;
        box-sizing: border-box;
        // @include margin(0, 12, 0, 0);
        &:hover {
            background-color: #024F9D;
            color: #ffffff;
        }
        &.active {
            box-shadow: 0 3px 4px 0 rgba(0,0,0,0.19);
            background-color: #024F9D;
            color: #ffffff;
        }
    }
}