<!-- Generated template for the OfflineToastComponent component -->
<ion-header class="sb-header">
    <ion-navbar class="sb-header-toolbar">
      <ion-title>Toast messages</ion-title>
    </ion-navbar>
 </ion-header>

 <div class="sb-toast-online"><div class="sb-online">You are online no</div> </div>
<!-- <ion-content> -->
  <!-- <div> <button ion-button class="class-pill" (click)="presentToast()">Toast</button>
    <button ion-button class="class-pill" (click)="presentToastWithOptions()">Toast With Options</button></div> -->
  <!-- <collection-page></collection-page> -->
<!-- </ion-content> -->