<!-- Generated template for the OfflineToastComponent component -->
<ion-header class="sb-header">
    <ion-navbar class="sb-header-toolbar">
      <ion-title>Offline Toast</ion-title>
    </ion-navbar>
 </ion-header>

<!-- <ion-content> -->
  <!-- <div> <button ion-button class="class-pill" (click)="presentToast()">Toast</button>
    <button ion-button class="class-pill" (click)="presentToastWithOptions()">Toast With Options</button></div> -->
  <!-- <collection-page></collection-page> -->
<!-- </ion-content> -->