<ion-header class="sb-popover-header">
  <ion-toolbar class="sb-popover-toolbar">
    <ion-title class="sb-popover-title">Delete </ion-title>
    <ion-buttons end>
      <button ion-button clear class="sb-popover-close-btn" (click)="closePopover()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content no-padding class="sb-popover-content">
  <div class="sb-popover-items">
      <div class="icon-container">
          <ion-icon ios="ios-alert" md="md-alert"></ion-icon>
      </div>
      <div class="content-details">
        <div class="main-title">
          Content Coming Soon
        </div>
        <div class="description">
            Let us know if you are interested in this content
        </div>
      </div>

      <div class="sb-popover-footer">
          <button ion-button  class="sb-popover-action-btn popover-color"> Interested </button>
      </div>
  </div>
</ion-content> -->

<ion-content no-padding class="sb-popover-content">
  <div class="sb-popover-items">
    <div class="icon-container">
      <ion-icon ios="ios-alert" md="md-alert"></ion-icon>
    </div>
    <div class="content-details">
      <div class="main-title">
        Content Coming Soon
        <div class="description">
          30 items (200 MB)
        </div>
      </div>

      <div class="main-content">
        Let us know if you are interested in this content
      </div>
    </div>

    <div class="sb-popover-footer">
      <button ion-button class="sb-popover-action-btn popover-color"> Interested </button>
    </div>
  </div>
</ion-content>